@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
/* \\\\\\\\\\\   Tema este de la linia 132 la 244   /////////*/ 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
}
header{
    height: 60px;
}
.logo{
    display: inline;
    cursor: pointer;
}
.gender-category{
    margin-left: 30px;
    width: 300px;
    height: 50px;
    display: inline-flex;
    position: absolute;
    font-size: 16px;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
}
.gender-category span{
    cursor: pointer;
}
.gender-category span:first-child{
    color: #e54131;
}
.gender-category span:hover{
    color: #e54131;
}
.user-tab{
    display: inline-flex;
    position: relative;
    float: right; 
    width: 400px;
    justify-content: space-evenly;
}
#find{
    width: 70px;
    border: 0;
    border-bottom: 1px solid black;
    cursor: text;
    margin-right: 0px;
    padding-bottom: 10px;
}
#find:focus{
    width:200px;
    margin-left: -130px;
}
textarea:focus, input:focus, button:focus{
    outline: none;
}
#icon-search{
    margin-bottom: -12px;
}
.user-tab .iconify{
    width: 28px;
    height: auto;
    color: grey;
    cursor: pointer;
}
.nav{
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-flex;
    justify-content: space-around;
    cursor: default;
}
#navbar{
    width: 100vw;
    height: 40px;
    background-color: black;
    position: absolute;
    z-index: -1;
}
@media only screen and (min-width: 1200px){
    body{
        overflow-x: hidden;
    }
}
.nav span{
    height: 100%;
    align-items: center;
    display: inline-flex;
}
.nav a{
    color: #ea098b;
    text-decoration: none;
}
.nav span:hover{
    border-bottom: 4px solid #e54131;
    padding-top: 4px;
}
.info-bar{
    margin: 15px 0px 0px;
    padding: 10px 0px;
    font-size: 12px;
    background-color: #eee;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}
.info-bar .iconify{
    width: 20px;
    height: auto;
    color: grey;
    position: absolute;
    margin-left: -30px;
}
.ad img{
    width: 100%;
    margin: 15px 0px;
    cursor: pointer;
}
    /*\\\\\\\\\\\\ Tema /////////////*/
#content{
    display: inline-flex;
    justify-content: space-between;
    width: 100%; 
}
.article{
    font-size: 13px;
    width: 370px;
    font-family: 'Montserrat', sans-serif;
}
img[src^="sample"]{
    width: 100%;
    height: 400px;
    transition: 0.5s;
    cursor: pointer;
}
img[src^="sample"]:hover{
    transform: scale(1.05);
}
h3{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    padding-bottom: 10px;
}
.article p{
    width: 300px;
    text-align: center;
    margin: auto;
    color: grey;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
    padding: 5px;
}
.rating-fav{
    width: 100%;
    justify-content: center;
    display: inline-flex;
    margin-bottom: 10px;
}
.rating{
    width: 50px;
    align-items: center;
    justify-content: space-around;
    display: inline-flex;
    position: relative;
    font-family: 'Rubik', sans-serif;
    color: grey;
    margin-right: 20px;   
}
.fav{
    width: 50px;
    margin: auto 0;
    align-items: center;
    justify-content: space-around;
    display: inline-flex;
    font-family: 'Rubik', sans-serif;
    color: grey;
}
.star{
    color: rgb(255, 174, 0);
    font-size: 25px;
    cursor: pointer;
}
.heart{
    font-size: 18px;
    color: red;
    cursor: pointer;
}
.heart-grey{
    color: rgb(224, 224, 224);
    font-size: 18px;
    cursor: pointer;
}
.btn{
    text-align: center;
    margin: 10px;
}
.btn-cart{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 11px;
    color: white;
    background-color: black;
    width: 80px;
    height: 35px;
    border-style: none;
    margin: 5px;
    cursor: pointer;
}
.btn-view{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 80px;
    height: 35px;
    border: 2px solid black;
    border-style: solid;
    font-weight: bolder;
    font-size: 11px;
    color: black;
    background-color: white;
    margin: 5px;
}
.btn-cart:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}
.btn-view:hover{
    color:white;
    background-color: black;
}
 /*\\\\\\\\\\\\ Tema^ ///////////*/





 
.product-view{
    width: 100%;
    height: 290px;
    margin: 50px auto 0px auto;
    background-color: rgb(231, 231, 231);
}
h2{
    font-weight: lighter;
    font-size: 17px;
    padding-left: 8px;
    padding-top: 12px;
    display: inline-flex;
}
#onbtn{
    font-size: 80px;
    margin-top: -20px;
    margin-left: 20px;
    display: inline;
    position: absolute;
    cursor: pointer;
}
#offbtn{
    font-size: 80px;
    margin-top: -20px;
    margin-left: 20px;
    display: none;
    position: absolute;
    cursor: pointer;
}
.product-view p{
    padding-left: 8px;
    font-size: 14px;
    color: rgb(92, 92, 92);
    line-height: 50px;
    width: 100%;   
}
#product-view-bar{
    width: 100vw;
    height: 290px;
    background-color: rgb(231, 231, 231);
    position: absolute;
    z-index: -1;
    transform: scaleX(2);
}
.newsletter{
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    height: 290px;
    grid-column-gap: 5px;
    color: white;
    background-color: black;
    /* border: 1px solid black; */
}
.newsletter h3{
    font-size: 25px;
    text-align: left;
    padding: 40px 0 0 5px;
    font-weight: bolder;
}
.newsletter p{
    font-size: 20px;
    padding: 0 0 0 5px;
}
.email{
    width: 100%;
    height: 30px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
}
.confirm{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;  
}
.confirm input{
    margin-right: 5px;
}
.captcha {
    width: 300px;
    height: 80px;
    background-color: white;
    color: black;
    border-radius: 3px;
}
.captcha-checkbox{
    height: 100%;
    width: 200px;
    display: inline-flex;
    align-items: center;
}
.captcha-checkbox input{
    height: 30px;
    width: 30px;
    margin: 10px;
}
.not-robot{
    text-align: left;
    font-size: 15px;
}
.captcha div{
    float: right;
    padding-right: 10px;
}
.captcha .iconify{
    font-size: 40px;
    padding: 5px;
    margin: 0 auto;
    display: flex;
}
.captcha p{
    text-align: center;
    font-size: 10px;
    font-weight: 100;
}
