*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* border: 1px solid yellow; */
}
body{
    background-image: url("img2.jpg");
    height: 100vh;
    width: 100vw;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}


/* delaying the animation  */
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}





/* Loading animation */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #042104;
    animation: animateBg 10s linear infinite; 
    position: relative;
    z-index: 1000;
}
@keyframes animateBg {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
section .loader{
    position: relative;
    width: 120px;
    height: 120px;
    overflow: visible;
}
section .loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
    overflow: visible;
}
section .loader span::before{
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
                0 0 20px #00ff0a,
                0 0 40px #00ff0a,
                0 0 60px #00ff0a,
                0 0 80px #00ff0a,
                0 0 100px #00ff0a;
    animation: animateL 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animateL {
    0%{
        transform: scale(1);
    }
    80%,100%{
        transform: scale(0);
    }
}






/* Snake border animation */
.border{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    pointer-events: none;
    animation-delay: 5s;
}
.border:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
}

.border .sp1{
    transform: rotate(0deg);
}
.border .sp2{
    transform: rotate(180deg);
}
.border .div1{
    transform: rotate(0deg);
}
.border .div2{
    transform: rotate(180deg);
}
.sp1:before, .sp2:before{
    content: '';
    position: absolute;
    width: 100%;
    box-shadow: 0 0 2px 3px rgb(0, 255, 200);
    animation: animate 3s linear infinite;
    animation-delay: 2s;
}
.div1:before, .div2:before{
    content: '';
    position: absolute;
    height: 100%;
    box-shadow: 0 0 2px 3px rgb(0, 255, 200);
    animation: animate2 3s linear infinite;
    animation-delay: 3.5s;
}

@keyframes animate{
    0%{
        transform: scaleX(0);
        transform-origin: left;
    }
    50%{
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1%{
        transform: scaleX(1);
        transform-origin: right;
    }
    100%{
        transform: scaleX(0);
        transform-origin: right;
    }
}
@keyframes animate2{
    0%{
        transform: scaleY(0);
        transform-origin: bottom;
    }
    50%{
        transform: scaleY(1);
        transform-origin: bottom;
    }
    50.1%{
        transform: scaleY(1);
        transform-origin: top;
    }
    100%{
        transform: scaleY(0);
        transform-origin: top;
    }
}











.left{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in;
}
.left.open{
    right: 30%;
    width: 70%;
}
.open::-webkit-scrollbar{
    width: 0;
}






/* Form */
#form{
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 320px;
    background-color: rgba(179, 179, 179, 0);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: inset 0 0 10px 0 white;
    transition: all 2s ease;
}
input[type="text"]{
    background-color: rgba(0, 0, 0, 0.432);
    margin: 20px;
    border-radius: 5px;
    color: rgb(190, 190, 190);
    padding: 10px;
    font-size: 1.3rem;
    outline: none;
    border: none;
    text-transform: capitalize;
}
.lb-name1,
.lb-name2,
.lb-phone{
    position: absolute;
    pointer-events: none;
    width: 267px;
    height: 66px;
    padding: 15px;
    color: rgb(112, 112, 112);
}
.lb-name1{
    margin: 0 20px;
}
.lb-name2{
    margin: 85px 20px;
}
.lb-phone{
    margin: 169px 20px;
}
.lb-name1::after,
.lb-name2::after,
.lb-phone::after{
    content: '';
    position: absolute;
    left: 0%;
    bottom: 5%;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid rgb(0, 255, 234);
    transform: translateX(-102%);
    transition: all .3s ease;
}
.name1, .name2, .phone{
    margin: 18px 0;
    position: absolute;
    transition: all .3s ease;
}
#input1:focus + .lb-name1 .name1,
#input1:valid + .lb-name1 .name1,
#input2:focus + .lb-name2 .name2,
#input2:valid + .lb-name2 .name2,
#input3:focus + .lb-phone .phone,
#input3:valid + .lb-phone .phone{
    transform: translateY(-30px);
    font-size: 14px;
    color:  rgb(0, 255, 234);
}
#input1:focus + .lb-name1::after,
#input1:valid + .lb-name1::after,
#input2:focus + .lb-name2::after,
#input2:valid + .lb-name2::after,
#input3:focus + .lb-phone::after,
#input3:valid + .lb-phone::after{
    transform: translateX(0);
}
button{
    padding: 0 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.3rem;
    margin: 20px;
    color: rgb(77, 77, 77);
    animation-delay: 1s;
    
}
.buttons button:nth-child(1){
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    width: 52%;
    text-align: left;
    margin-right: -30px;
    background-color:  rgb(53, 179, 201);
    border: none;
    transition: all .1s ease;
    animation-duration: 0.5s;
}
.buttons button:nth-child(2){
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    width: 52%;
    text-align: right;
    margin-left: -30px;
    background-color: darkgray;
    pointer-events: none;
    border: none;
    transition: all .1s ease;
    animation-duration: 0.5s;
}
.buttons button:nth-child(1):hover{
    background-color:  rgb(113, 234, 255);
    
}
button:nth-child(1).inactive{
    background-color: darkgrey;
    pointer-events: none;
}
button:nth-child(2).active{
    background-color: rgb(53, 179, 201);
    pointer-events: all;
    transition: all .1s ease;
}
button:nth-child(2).active:hover{
    background-color:   rgb(113, 234, 255);
}
.validator1,
.validator2,
.validator3{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(123, 123, 123);
    border-radius: 50%;
    top: 37px;
    right: 5%;
    pointer-events: none;
}
.valid{
    background-color: #0f0;
    box-shadow: 0 0 5px #0f0,
                0 0 10px #0f0,
                0 0 20px #0f0,
                0 0 40px #0f0;
}
.invalid{
    background-color: #f00;
    box-shadow: 0 0 5px #f00,
                0 0 10px #f00,
                0 0 20px #f00,
                0 0 40px #f00;
}









/* List of contacts */
.right{
    position: absolute;
    top: 0;
    right: -30%;
    width: 30%;
    box-shadow: inset 20px 0px 20px -25px rgba(255, 255, 255, 1);
    height: 100%;
    transition: right 1s ease-in, backdrop-filter 5s ease;
}
.right.open{
    min-width: 350px;
    right: 0;
    backdrop-filter: blur(10px) brightness(90%);
    overflow: scroll;
    padding: 100px 0;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
    width: 100%;
    min-height: 100%;
}
li{
    perspective: 5000px;
    width: 300px;
    transform: rotateY(-20deg) rotateX(10deg);
    margin: 20px auto -50px auto;
    font-size: 1.5rem;
    background: url("card2.jpg");
    filter: drop-shadow(8px 8px 10px rgb(0, 255, 229));
    color:  rgb(204, 204, 204);
    border-radius: 5px;
    box-shadow: 5px 2px 0 0 #0e97a398,
                10px 4px 0 0 #0e97a398;
    position: relative;
    transition: all .3s ease-out;
    padding: 0 20px;
    list-style: none;
    font-family: 'Roboto Slab', serif;
}
li:hover{
    transform: rotateY(-5deg) rotateX(10deg) scale(1.07);
    z-index: 1;
    color:  #7e7e7e;
}
li p{
    padding: 10px 20px;
    text-transform: capitalize;
}
.iconify{
    float: right;
    visibility: hidden;
    margin-top: 10px;
    cursor: pointer;
}
li:hover .iconify{
    visibility: visible;
}
.iconify:hover{
    color: rgb(0, 187, 255);
}













/* Device media query */
@media screen and (max-width: 800px) {
    .border{
        visibility: hidden;
    }
    .left{
        top: 0;
        width: 100%;
        right: 0;
        max-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left.open2{
        top: 0;
        left: 0;
        min-height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right{
        left: 0;
        width: 100%;
        top: 100%;
        box-shadow: inset 0px 20px 20px -20px rgba(255, 255, 255, 1);
        transition: top 1s ease-in, backdrop-filter 5s ease;
    }
    .right.open2{
        top: 50%;
        max-height: 50%;
        left: 0;
        backdrop-filter: blur(10px) brightness(90%);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: scroll;
    }
    .right.open2::-webkit-scrollbar{
        width: 0;
    }
    ul{
        padding: 100px 0;
        position: absolute;
        top: 10px;
        transform: translateX(10%);
    }
    li{
        transform: rotateY(-20deg) rotateX(10deg) translateX(-20%);
    }
    li:hover{
        transform: rotateY(-20deg) rotateX(10deg) translateX(-20%) scale(1.07);
    }
    .iconify{
        font-size: 2rem;
    }
}